<div class="cover">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="introbox">
          <h1>Twitter Clone</h1>
          <button class="btn btn-default">test</button>
        </div>
      </div>
    </div>
  </div>
</div>